image{
    border-radius: 2px;
    border: #6d44b8 3px;
}
p {
    font-family: system-ui;
    height: 0px;
    font-size: 20px;
    font-weight: 600;
}
.buttonn{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
.buttonn:hover{
    background: #6d44b8;
}
